   // No more commits after 21st October at 11.00 am
   
   // Create a Webpage that uses the following HTML5 Tags
   
    <main> ​
    represents the dominant content of the <body> ​

    <section>​
    represents a standalone section ​

    <article>​
    represents a self-contained composition in a document …​

    <header>​

    <footer>​

    <aside>​
    represents a portion of a document whose content is only indirectly related to the document's main content​

    <nav>​
    represents a section of a page whose purpose is to provide navigation links​

    <figure>​
    represents self-contained content, potentially with an optional caption​